# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.apdisk
Network Trash Folder
Temporary Items
.AppleDB
.AppleDesktop

# local assets
assets/
